body {
  margin: 0;
  background: rgba(0,0,0,0);
  font-family: Arial, sans-serif;
}

/* TOP BAR */
.window-bar {
  background: #00c853;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.window-bar button {
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

/* MAIN */
.container {
  background: #111;
  color: #fff;
  padding: 10px;
}

input, button, select {
  width: 95%;
  padding: 10px;
  margin: 5px;
}

button {
  background: #00c853;
  color: white;
  border: none;
}

.history table {
  width: 100%;
  border-collapse: collapse;
}

.history th, .history td {
  border: 1px solid #555;
  padding: 5px;
  text-align: center;
}
